@media only screen and (min-width: 769px) {
  .container {
    margin-top: 4em;
  }

  .display-num-of-movies {
    padding: 10px 10px 0 0;
    min-width: 11em;
  }
}

@media only screen and (min-width: 481px) {
  .show-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "ttl ttl"
      "img inf"
      "sum sum";
  }

  .show-wrapper {
    background-size: 80vw auto;
    width: 80vw;
  }

  .input-wrapper,
  .select-wrapper {
    height: 2.3em;
  }

  .img-show-box {
    justify-content: flex-start;
  }
}
