* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--main-white);
  background-color: var(--main-white);
  font-family: 'Lora', serif;
}

.home-btn {
  background-color: var(--main-black);
  border: none;
  color: var(--main-white);
  padding: 7px 10px;
  font-size: 21px;
  cursor: pointer;
}

.home-btn:hover {
  background-color: var(--main-yellow);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.3em;
  overflow: hidden;
  position: fixed;
  z-index: 1;
  background-color: var(--main-black);
  top: 0;
  width: 100vw;
}

.fields-wrapper {
  display: flex;
  justify-content: start;
  /* gap: 0.3em; */
  row-gap: 0.3em;
  flex-wrap: wrap;
}

.input-wrapper,
.select-wrapper {
  height: 1.3em;
}

.selector,
.input, textarea {
  outline: 0;
  border: 0;
  box-shadow: none;
  width: 18em;
  height: 100%;
  color: var(--main-white);
  background-color: var(--dark-grey);
  background-image: none;
  font-family: inherit;
  font-size: 13px;
  padding-left: 4px;
}

.display-num-of-movies {
  height: 100%;
  min-width: 13.5em;
  color: var(--light-grey);
  text-align: right;
  font-size: 13px;
  padding: 10px 10px 0 0;
}

.container {
  margin-top: 85px;
}

.root-content {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

/* ---------- show cards: ---------- */

.show-wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 80vw auto;
  box-shadow: 2px 4px 5px var(--light-grey);

  width: 80vw;
  padding: 25px;

  height: 100%;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas: 
    "ttl ttl"
    "img inf"
    "sum sum";
}

.title-show-box {
  grid-area: ttl;
  text-align: center;
}

.img-show-box {
  grid-area: img;
}

.summary-show-box {
  grid-area: sum;
  text-align: justify;
  display: flex;
}

.info-show-box {
  grid-area: inf;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.summary-show {
  font-weight: 400;
  letter-spacing: 0.5px;

}

.info-show-list {
  list-style-type: none;
}

.title-show {
  cursor: pointer;
  font-size: 32px;
  font-weight: 700;
}

.title-show,
.title-episode {
  cursor: pointer;
}

.title-show:hover,
.title-episode:hover {
  color: var(--yellow);
}

/* ---------- episodes cards: ---------- */

.episode-wrapper {
  background-color: var(--main-black);
  width: 250px;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 4px 5px var(--light-grey);
}

.title-episode-box {
  padding: 10px 5px;
  text-align: center;
}

.img-episode-box {
  height: 140px;
}

.summary-episode-box {
  height: 100%;
  background-image: var(--gradient);
  background-size: 100%;
  padding: 16px;
  text-align: center;
  font-size: 16px;
}

.summary-episode {
  
}

footer {
  color: var(--main-black);
  text-align: center;
  margin: 25px;
}

footer a:link,
footer a:visited,
footer a:active {
  color: var(--main-black);
}

footer a:hover {
  color: var(--yellow);
}


/* ---------- other: ---------- */


.is-hidden {
  display: none;
}

/* ---------- input field -placeholder text: ---------- */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--light-grey);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--light-grey);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--light-grey);
}
